version: '3'

services:
    postgres:
        image: postgres:12.1
        environment:
            POSTGRES_DB: cozycast
            POSTGRES_USER: cozycast
            POSTGRES_PASSWORD: $COZYCAST_DB_PASS
        networks:
            - cozycast
        restart: unless-stopped
        volumes:
            - "../data/postgres:/var/lib/postgresql/data"
    redis:
        image: redis:7-alpine
        ports:
            - "6379:6379" # Needed if livekit-server is in host mode
        networks:
            - internal
        restart: unless-stopped

    livekit-server:
        image: livekit/livekit-server:latest
        command: --config /livekit.yaml
        network_mode: "host"
        environment:
            LIVEKIT_KEYS: "${LIVEKIT_API_KEY}: ${LIVEKIT_API_SECRET}"
        volumes:
            - "./livekit.yaml:/livekit.yaml"
        restart: unless-stopped

    livekit-ingress:
        image: livekit/ingress:latest
        command: --config /ingress.yaml
        network_mode: "host" # Required for WHIP over UDP
        volumes:
            - "./ingress.yaml:/ingress.yaml"
        depends_on:
            - redis
        restart: unless-stopped
    cozycast-worker:
        networks:
            - internal
        environment:
            LOCAL_WORKER: $LOCAL_WORKER
            COZYCAST_ROOM: default
    cozycast-server:
        build: ../cozycast-server
        image: cozycast-server
        container_name: cozycast-server
        networks:
            - cozycast
            - internal
        ports:
          #            - "80:80"
            - "443:443"
        shm_size: 2g
        environment:
            TURN_SECRET: $TURN_SECRET
            TURN_IP: $TURN_IP
            KURENTO_IP: $KURENTO_IP
            SOURCE_URL: $SOURCE_URL
            COZYCAST_WORKER_KEY: $COZYCAST_WORKER_KEY
            COZYCAST_DB_HOST: $COZYCAST_DB_HOST
            COZYCAST_DB_PASS: $COZYCAST_DB_PASS
            COZYCAST_JWT_SECRET: $COZYCAST_JWT_SECRET
            COZYCAST_INIT_ADMIN_PASSWORD: $COZYCAST_INIT_ADMIN_PASSWORD
            MICRONAUT_ENVIRONMENTS: $MICRONAUT_ENVIRONMENTS
            KEYSTORE_PASSWORD: $KEYSTORE_PASSWORD
            HTTPS_DOMAIN: $HTTPS_DOMAIN
            NETWORK_INTERFACES: $NETWORK_INTERFACES
            EXTERNAL_IPV4: $PUBLIC_IP
            LIVEKIT_URL: $LIVEKIT_URL
            LIVEKIT_API_KEY: $LIVEKIT_API_KEY
            LIVEKIT_API_SECRET: $LIVEKIT_API_SECRET
            LIVEKIT_INGRESS_URL: $LIVEKIT_INGRESS_URL
        volumes:
            - "../data/cozycast-server/avatar:/var/cozycast/avatar/"
            - "../data/cozycast-server/image:/var/cozycast/image/"
            - "../data/certbot-http/live/:/etc/cozycast/"
        restart: unless-stopped
    certbot:
        build: ../certbot
        image: cozycast-certbot
networks:
    cozycast:
    internal:
